.speech {
    font-size:12;font-family: Arial, Helvetica, sans-serif; color: black;
    }
.direction {
    background-color: lightgray;font-size: 16;font-family: Arial, Helvetica, sans-serif;
    background:rgb(207, 207, 65);font-size: 18;font-family: Arial, Helvetica, sans-serif;
}
.direction:hover{
    background-color: rgb(200, 200, 197);
}
.MARY{
    color: rgb(22, 22, 86);
    }
    .AUNT CANDACE{
    color: rgb(227, 27, 27);
    }
    table {
        border-collapse: collapse;
        width: 109%;
        margin-bottom: 1.5em;
        color: #1a1818;
      }
      
      th, td {
        padding: 2.5em;
        text-align: left;
        border: 1px solid #8a8888;
      }
      
      th {
        background-color: #b6adad;
        font-weight: bold;
      }
      
      tr:nth-child(even) {
        background-color: #eddcdc;
      }
      
      
